---
import { strict as assert } from "node:assert";
import type { GetStaticPaths, Page } from "astro";
import BaseHead from "../../components/BaseHead.astro";
import Container from "../../components/Container.astro";
import Footer from "../../components/Footer.astro";
import FormattedDate from "../../components/FormattedDate.astro";
import Header from "../../components/Header.astro";
import Label from "../../components/Label.astro";
import Pagination from "../../components/Pagination.astro";
import SectionTitle from "../../components/SectionTitle.astro";
import { contentfulClient } from "../../lib/contentful";
import type { TypeNewsSkeleton } from "../../types/contentful";

const PAGE_TITLE = "お知らせ";
const PAGE_DESCRIPTION = "Norden Wind Ensembleのお知らせ一覧";

export const getStaticPaths = (async ({ paginate }) => {
	const { items } =
		await contentfulClient.withoutUnresolvableLinks.getEntries<TypeNewsSkeleton>(
			{
				content_type: "news",
				order: ["-fields.publishedAt"],
			},
		);

	const newses = items.map((item) => {
		const { slug, title, publishedAt, category } = item.fields;
		assert(category);

		return {
			slug,
			title,
			publishedAt: new Date(publishedAt),
			category: category.fields,
		};
	});

	return paginate(newses, { pageSize: 10 });
}) satisfies GetStaticPaths;

type Props = {
	page: Page;
};

const { page } = Astro.props;
---

<!DOCTYPE html>
<html lang="ja">
    <head>
        <BaseHead title={PAGE_TITLE} description={PAGE_DESCRIPTION} />
    </head>
    <body class="flex min-h-screen flex-col">
        <Header />
        <main class="flex grow">
            <Container class="my-8 flex flex-col gap-4">
                <SectionTitle subtitle="news">お知らせ</SectionTitle>
                <div class="flex flex-col gap-4">
                    {
                        page.data.map((news) => (
                            <a href={`/news/${news.slug}/`}>
                                <div class="flex flex-col border-b-2 border-gray-200 pb-2 text-base font-normal md:flex-row">
                                    <div class="flex flex-row">
                                        <span class="w-24">
                                            <FormattedDate date={news.publishedAt} />
                                        </span>
                                        <span class="mx-2 w-24 text-center">
                                            <Label color={news.category.color} text={news.category.name} />
                                        </span>
                                    </div>
                                    <div class="grow">{news.title}</div>
                                </div>
                            </a>
                        ))
                    }
                </div>
                <Pagination page={page} />
            </Container>
        </main>
        <Footer />
    </body>
</html>
