---
import { strict as assert } from "node:assert";
import type { GetStaticPaths, Page } from "astro";
import BaseHead from "../../components/BaseHead.astro";
import ConcertCard from "../../components/ConcertCard.astro";
import Container from "../../components/Container.astro";
import Footer from "../../components/Footer.astro";
import Header from "../../components/Header.astro";
import Pagination from "../../components/Pagination.astro";
import SectionTitle from "../../components/SectionTitle.astro";
import { contentfulClient } from "../../lib/contentful";
import type { TypeConcertSkeleton } from "../../types/contentful";

const PAGE_TITLE = "コンサート";
const PAGE_DESCRIPTION = "Norden Wind Ensembleのコンサート一覧";

export const getStaticPaths = (async ({ paginate }) => {
	const { items } =
		await contentfulClient.withoutUnresolvableLinks.getEntries<TypeConcertSkeleton>(
			{
				content_type: "concert",
				order: ["-fields.startTime"],
			},
		);

	const concerts = items.map((item) => {
		const { slug, flyer, title, startTime, openTime, conductor, place } =
			item.fields;

		assert(flyer?.fields.file);

		return {
			slug,
			cover: flyer.fields.file,
			title,
			startTime: new Date(startTime),
			openTime: openTime ? new Date(openTime) : null,
			conductor,
			place,
		};
	});

	return paginate(concerts, { pageSize: 6 });
}) satisfies GetStaticPaths;

type Props = {
	page: Page;
};

const { page } = Astro.props;
---

<!DOCTYPE html>
<html lang="ja">
    <head>
        <BaseHead title={PAGE_TITLE} description={PAGE_DESCRIPTION} />
    </head>
    <body class="flex min-h-screen flex-col">
        <Header />
        <main class="flex grow">
            <Container class="my-8 flex flex-col gap-8">
                <SectionTitle subtitle="concert">{PAGE_TITLE}</SectionTitle>
                <div class="grid grid-cols-1 place-items-center gap-4 md:grid-cols-3">
                    {
                        page.data.map((concert) => (
                            <a href={`/concerts/${concert.slug}/`}>
                                <ConcertCard
                                    cover={concert.cover}
                                    title={concert.title}
                                    startTime={concert.startTime}
                                    openTime={concert.openTime}
                                    conductor={concert.conductor}
                                    place={concert.place}
                                />
                            </a>
                        ))
                    }
                </div>
                <Pagination page={page} />
            </Container>
        </main>
        <Footer />
    </body>
</html>
