---
import { strict as assert } from "node:assert";
import BaseHead from "../components/BaseHead.astro";
import Button from "../components/Button.astro";
import ConcertCard from "../components/ConcertCard.astro";
import ContactForm from "../components/ContactForm.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Header from "../components/Header.astro";
import Label from "../components/Label.astro";
import SectionTitle from "../components/SectionTitle.astro";
import {
	CONTACT_DESCRIPTIONS,
	NWE_DESCRIPTIONS,
	SITE_DESCRIPTION,
	SITE_TITLE,
} from "../consts";
import TopSection from "../layouts/TopSection.astro";
import { contentfulClient } from "../lib/contentful";
import type {
	TypeConcertSkeleton,
	TypeNewsSkeleton,
} from "../types/contentful";

const { items: newsItems } =
	await contentfulClient.withoutUnresolvableLinks.getEntries<TypeNewsSkeleton>({
		content_type: "news",
		order: ["-fields.publishedAt"],
		limit: 5,
	});

const newses = newsItems.map((item) => {
	const { slug, title, publishedAt, category } = item.fields;
	assert(category);

	return {
		slug,
		title,
		publishedAt: new Date(publishedAt),
		category: category.fields,
	};
});

const { items: concertItems } =
	await contentfulClient.withoutUnresolvableLinks.getEntries<TypeConcertSkeleton>(
		{
			content_type: "concert",
			order: ["-fields.startTime"],
			limit: 3,
		},
	);

const concerts = concertItems.map((item) => {
	const { slug, flyer, title, startTime, openTime, conductor, place } =
		item.fields;

	assert(flyer?.fields.file);

	return {
		slug,
		cover: flyer.fields.file,
		title,
		startTime: new Date(startTime),
		openTime: openTime ? new Date(openTime) : undefined,
		conductor,
		place,
	};
});
---

<!DOCTYPE html>
<html lang="ja">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body class="flex min-h-screen flex-col">
        <Header title={SITE_TITLE} />
        <main class="flex grow flex-col">
            <section id="eyecatch" class="overflow-hidden md:max-h-[80vh]">
                <img src="/images/eyecatch.jpg" alt="Norden Wind Ensemble" class="w-full object-cover object-bottom" />
            </section>
            <TopSection id="news">
                <div class="flex flex-row items-center">
                    <SectionTitle subtitle="news">お知らせ</SectionTitle>
                    <div class="grow"></div>
                    <a class="hidden text-sm font-bold text-primary-dark md:block" href="/news">すべて見る</a>
                </div>
                <div class="flex flex-col gap-4">
                    {
                        newses.map((news) => (
                            <a href={`/news/${news.slug}/`}>
                                <div class="flex flex-col border-b-2 border-gray-200 pb-2 text-base font-normal md:flex-row">
                                    <div class="flex flex-row">
                                        <span class="w-24">
                                            <FormattedDate date={news.publishedAt} />
                                        </span>
                                        <span class="mx-2 w-24 text-center">
                                            <Label color={news.category.color} text={news.category.name} />
                                        </span>
                                    </div>
                                    <div class="grow">{news.title}</div>
                                </div>
                            </a>
                        ))
                    }
                </div>
                <div class="mx-auto md:hidden">
                    <Button text="もっと見る" color="primary.light" href="/news" />
                </div>
            </TopSection>

            <TopSection id="concert">
                <div class="flex flex-row items-center">
                    <SectionTitle subtitle="concert">コンサート</SectionTitle>
                    <div class="grow"></div>
                    <a class="hidden text-sm font-bold text-primary-dark md:block" href="/concerts">すべて見る</a>
                </div>
                <div class="grid grid-cols-1 place-items-center gap-4 md:grid-cols-3">
                    {
                        concerts.map((concert) => (
                            <a href={`/concerts/${concert.slug}/`}>
                                <ConcertCard
                                    cover={concert.cover}
                                    title={concert.title}
                                    startTime={concert.startTime}
                                    openTime={concert.openTime}
                                    conductor={concert.conductor}
                                    place={concert.place}
                                />
                            </a>
                        ))
                    }
                </div>
                <div class="mx-auto md:hidden">
                    <Button text="もっと見る" color="primary.light" href="/concerts" />
                </div>
            </TopSection>

            <TopSection id="about-us">
                <SectionTitle subtitle="about us">Norden Wind Ensembleとは</SectionTitle>
                <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
                    <div>
                        <img src="/images/aboutus.jpg" alt="Norden Wind Ensemble" class="w-full" />
                    </div>
                    <div class="break-words text-base leading-loose text-black">
                        {NWE_DESCRIPTIONS.map((line) => <p>{line}</p>)}
                    </div>
                </div>
            </TopSection>

            <TopSection id="contact">
                <SectionTitle subtitle="contact">お問い合わせ</SectionTitle>
                <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
                    <div class="break-words text-base leading-loose text-black">
                        {CONTACT_DESCRIPTIONS.map((line) => <p>{line}</p>)}
                    </div>
                    <ContactForm></ContactForm>
                </div>
            </TopSection>
        </main>
        <Footer />
    </body>
</html>
